* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    width: 1200px;
    margin: 0 auto;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#3a3d47;
}

img {
    width: 100%;
}

.header-container {
    background-color: #1551a1;
    height: 15vh;
}

nav {
    float: left;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    height: 15vh;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-nav img{
    float: left;
    width: 30vw;
    max-width: 30rem;
    padding-left: 5rem;
}

.menu-nav ul {
    float: left;
    display: flex;
    justify-content: end;
    max-width: 60%;
    gap: 0px;
}
main{
    background-color: white;
}
li {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: 2rem;
    list-style: none;
    max-width: 120px;
    border: 1px solid white;
    margin: 0;
    padding: 0.9rem;
    color: white;
}
li:hover{
    background-color: #0a79b998;
    color: white;
}
.main-header {
    background-image: url(./MULTIMEDIA/IMAGENES/BACKGROUNDS/slider01.jpg);
    background-size: cover;
    background-position: center;
    height: 70vh;
}

h2 {
    text-align: center;
    padding: 1rem;
    color: #ff7600;
    font-size: 1.8rem;
}

.flexbox {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.box {
    max-width: 30%;
    margin: 1rem;
    border: solid black 1px;
    float: left;
    width: 380px;
}

.box h4 {
    text-align: center;
    color: white;
    background-color: #1551a1;
    max-width: 100%;
    padding: 1rem;
    margin-top: 0px;
    bottom: 0.5rem;
    position: relative;
}

.box p {
    padding: 1rem;
    text-align: justify;
    max-width: 100%;
}

.boton {
    text-align: center;
    justify-content: center;
    margin: 1rem auto;
    padding: 1rem;
    max-width: 30%;
    background-color: #1551a1;
    border-radius: 0.3rem;
}

.boton a {
    text-decoration: none;
    color: white;
}

footer {
    background-color: #062348;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer-div picture img {
    width: 300px;
    position: relative;
    left: 4rem;
}

.redes_sociales img {
    max-width: 50px;
}

#footer-left{
    float: left;
    width: 550px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#footer-right{
    float: left;
    width: 550px;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    left: 5rem;
}
.footer-div p {
    max-width: 100%;
}